<!DOCTYPE html>
<html lang="en" class="no-js no-ready">
    <head>

        <!-- META -->
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Erskine Design" />
        <link rel="author" type="text/plain" href="/humans.txt" />
        <title>500 &mdash; Internal Server Error</title>

    </head>

    <body>

        <h1>500 &mdash; Internal Server Error</h1>

    </body>

</html>
