<!DOCTYPE html>
<html lang="en" class="no-js {% block html_class %}{% endblock %}">
    <head>

        <!-- META -->
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Erskine Design" />
        <link rel="author" type="text/plain" href="/humans.txt" />
        <title>{% block page_title %}{% endblock %}</title>

    </head>

    <body>

        {% block content %}{% endblock %}

    </body>

</html>
